@media screen and (max-width: 726px) and (min-width: 501px) {
    body{
        width: 80%;
        margin-left: 12%;
    }
    .fathergod{
        width: 80%;
        margin-top: 25%;
    }
    #polecont1 ul{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    #polecont1 h2{
        margin-top: 1px;
        margin-bottom: 1px;
    }
    #polecont2{
        margin-left: 0px;
    }
    #polecont2 li{
        padding-top: 4%;
    }
}