html{
    height: 100%;
}
body{
    width: 80%;
    height: 100%;
    background: whitesmoke;
    margin: auto;
    margin-top: 2%;
    position: relative;
}
header{
    margin-top: 1%;
    margin-left: 1%;
    list-style: none;
    color: black;
    width: 75%;
    /* 	border-radius: 15px;
         border: 2px solid black;*/
    font-family: inter-regular;
    padding: 2px;
    position: fixed;
    margin: auto;
    text-align: center;
    top: 2%;
    background: white;
}
header li{
    display: inline;
    padding-left: 1%;
}
header ul{
    padding-left: 4%;
    display: inline;
    font-size: 1.1em;
}
header h1{
    padding-left: 0.5%;
    font-size: 1.5em;
    display: inline;
    color: #2D66EE;
    text-transform: uppercase;
}
#headcont{
    white-space: nowrap;
}
#headnumber{
    color: #2D66EE;
    white-space: nowrap;
}
#headnumber li{
    padding-left: 0;
}
#imgfon{
    padding-left: 0.5%;
}

#imgforhead2{
    width: 15px;
}
#imgforhead1{
    width: 10px;
}

/*          Первый блок            */

.fathergod{
    width: 40%;
    margin-top: 10%;
    margin-left: 4%;
}
.fathergod h1{
    font-size: 1.9em;
}
.fathergod p{
    font-size: 0.8em;
}
.fathergod h2{
    font-size: 1.1em;
}
.bluetext{
    color: #2D66EE;
}

#contblockdiv{
    display: flex;
}
#contblockdiv button{
    width: 20%;
    background: #2D66EE;

}
.contblock{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-right: 4%;
}
/* Второй блок            */

#pole{

    width: 80%px;
    max-height: 350px;
    /*	white-space:nowrap*/
    display: flex;
    margin: auto;
    margin-top: 1%;
}
#polecont1 li{
    display: inline;
}
#polecont1 h1{
    font-size: 1.5em;
}
#polecont1 h2{
    font-size: 1.2em;
    margin-top: 2.5%;
}
#polecont1 h3{
    font-size: 0.8em;
    margin-top: 2.5%;
    margin-bottom: 0px;
}
#polecont1 li+li:before {
    content: "/\00a0";
}
#polecont1 {
    margin-left: 2%;
    max-width: 500px;
    padding: 1%;
}
#polecont2{
    width: 400px;
    height: 100%;
    margin-left: 15%;
    display: flex;
}
#polecont2 li{
    padding-top: 12%;
    font-size: 1.1em;
}


/*          Подвал                   */
footer{
    background: #101828;
    width: 90%;
    height: 20%;
    color: white;
    left: 5%;
    bottom: 2%;
    right: 5%;
}
footer h1{
    text-align: center;
    margin-bottom: 0px;
    margin-top: 0px;
    font-size: 1.8em;
    height: 20%;
}
footer h3{
    text-align: center;
    height: 20%;
    margin-top: 0px;
    margin-bottom: 0px;
}
hr{
    width: 90%;
    /*	position: fixed;*/
    bottom: 22%;
    left: 5%;
    right: 5%;
    margin-right: 0px;
    margin-left: 0px;
}
#footerblock{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
}
.footinf{

}
.footinf h3{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 0.8em;
    text-align: left;
    color: #a9a9a9;
}
.footinf p{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
}