header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.menu {
    flex-grow: 1;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu li {
    margin-right: 24px;
}
.menu li:last-child {
    margin-right: 0;
}
.blue-head {
    margin-right: 80px;
}
.menu .hover {
    text-decoration: underline;
}