header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    top: 24px;
    margin-top: 24px;
    margin-left: 108px;
    margin-right: 208px;
    background-color: #FFFFFF;
    position: fixed;
    padding: 0 15px;
    flex-direction: row;
    gap: 15px;

    width: 1124px;
    height: 56px;
    left: 108px;

    /* Elevation 4 pt · Badges */

    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
}
.menu {
    flex-grow: 1;
    font-size: 18px;
}
.menu ul {
    display: flex;
    flex-flow: row nowrap;
    list-style: none;

}
.menu li {
    margin-right: 24px;
}
.menu li:last-child {
    margin-right: 0;
}
.blue-head {
    padding-left: 24px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-size: 20px;
    font-weight: 700;
    color: #2D66EE;
    width: 120px;
    height: 24px;
    font-style: normal;
    line-height: 18px;
    letter-spacing: -0.154px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.menu-text {
    font-size: 16px;
    padding-top: 19px;
    padding-bottom: 19px;
    color: #101828;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;

    letter-spacing: -0.154px;


    flex: none;
    order: 0;
    flex-grow: 0;
}
body {
    background: #F2F4F7;
}

.head-contacts {
    display: flex;
}

.link {
    text-decoration: none;
}

.phone-mail-contacts ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    list-style: none;
    column-gap: 20px;
}

.main-body {
    width: 100%;
    padding-top: 160px;
    padding-left: 100px;
    padding-bottom: 300px;
}

.main-head {
    padding-bottom: 24px;
}
.main-paragraph {
    font-weight: 500;
    font-size: 16px;
    color: #101828;
    padding-bottom: 64px;
}
.blue {
    color: dodgerblue;
}
.upper-main {
    margin-left: 108px;
    margin-right: 532px;
    font-size: 20px;
    color: #101828;

}

.bottom-main {
    background: #FFFFFF;
    padding: 24px;
    width: max-content;
    margin-left: 108px;

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 0px 24px rgba(0, 0, 0, 0.16);
    border-radius: 12px;
}
.bottom-main-head {
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    color: #101828;
}
.contact-form {
    padding-top: 24px;
    display: flex;
}
.contact-form-element {
    display: flex;
    flex-direction: column;
    width: 224px;
    padding-right: 24px;
}
.submit {
    border: dodgerblue;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 11px 24px;
    margin-left: 10px;
    margin-top: -15px;
    gap: 8px;

    width: 132px;
    height: 58px;

    /* accent */

    background: #2D66EE;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 2;
    flex-grow: 0;
}
.footer {
    margin-top: auto;
    padding: 50px 110px;
}
.footer-background {
    display: flex;
    flex-direction: column;
    background: #101828;
    /* Elevation 8 pt · Cards */

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.08), 0px 2px 24px rgba(0, 0, 0, 0.08);
    border-radius: 12px;
    padding: 25px;
    margin: 48px 108px;
    row-gap: 20px;
    color: white;
}
.footer-head {
    color: white;
    text-align: center;
    font-size: 36px;
    margin-top: -12px;
}
.footer-contacts {
    display: flex;
    justify-content: space-evenly;
    margin-left: -200px;
}
.contact-element {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    row-gap: 10px;
}
.info-contact {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    color: darkgray;
    column-gap: 10px;
}
.contact-text {
    font-weight: 600;
    font-size: 17px;
}

.contact-under {
    font-size: 20px;
}

.footer-text {
    font-size: 14px;
    font-weight: 400;
    text-align: left;
}
.footer-conclusion {
    margin: 0 auto;
    vertical-align: center;
}